{% extends 'base.html.twig' %}

{% block title %}#Тестовое задание для middle/senior PHP/Symfony разработчика{% endblock %}
{% block javascripts %}
    <script src="{{ asset("javascript/main.js") }}"></script>
{% endblock %}
{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="wrapper">
        <h1> ✅ Тестовое задание на PHP/Symfony</h1>

        Приложение использует AJAX для отправки REST запросов. Выберите необходимое действие.
        <ul>
            <li><a target="_blank" href="{{ path("create_author") }}">Добавить автора книги</a></li>
            <li><a target="_blank" href="{{ path("create_book") }}">Добавить книгу</a></li>
        </ul>
        <br>

        <button id="search-book-button">Найти книгу</button>&nbsp;<div style="display: inline-block">Название книги:
            <input id="book-search" type="text" style="width: 94px" value=""></div>
        <br>
        <button id="get-author-button">Показать автора</button>&nbsp;
        <button id="get-book-button">Показать книгу</button>
        <div style="display: inline-block">id = <input id="item-id" type="number" style="width: 52px" value="1"></div>
        <div style="display: inline-block">Язык
            <select id="locale">
                <option value="ru" autofocus>Русский</option>
                <option value="en" autofocus>Английский</option>
            </select>
        </div>
        <br><br>
        <div id="path"></div>
        <div>
            <pre id="ajax-response"></pre>
        </div>

    </div>
{% endblock %}
{% block javascripts_bottom %}
    <script type="text/javascript">
        let bookButton = document.getElementById('get-book-button'),
            authorButton = document.getElementById('get-author-button'),
            searchButton = document.getElementById('search-book-button');


        function sedGetRequest(type) {
            let id = document.getElementById('item-id'),
                locale = document.getElementById('locale');
            id = parseInt(id.value);
            locale = locale.value;

            let path = `/${locale}/${type}/${id}`,
                pathDiv = document.getElementById('path');

            pathDiv.innerText = 'GET ' + path;

            getItemByPath(path, 'ajax-response');
        }

        searchButton.onclick = function () {
            let searchText = document.getElementById('book-search');

            let json = {
                "book_name": searchText.value
            }

            sendPostAjaxJSON('/book/search', JSON.stringify(json), 'ajax-response')
        }

        bookButton.onclick = function () {
            sedGetRequest('book');
        }

        authorButton.onclick = function () {
            sedGetRequest('author');
        }

    </script>
{% endblock %}
